<!DOCTYPE html>
<html>
  <head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>


    <h1>Le resto du coin !</h1>
    <p>un pur delice :) </p>


<div class="button">

  <ul>
    <li><a href="#Home">presentation</a></li>
    <li><a href="#news">menu</a></li>
    <li><a href="#contact">Contacts</a></li>

  </ul>

  <div id="Home">
    <h3>Présentation</h3>
    <p>Le restaurant galactique est un restaurant traditionnel situé au coeur de l'univers . Dépaysant, il est réputé pour sa magnifique salle ouverte tout l’été : à la clé, une cuisine estivale, composée de salades rafraîchissantes et de grillades savoureuses. L’hiver, le restaurant galactique revêt un tout autre visage et se mue en un élégant astéroïde où il est bon de se blottir au coin de la cheminée tout en dégustant une cuisine traditionnelle.</p>
  </div>

</div>



  </body>
</html>
